<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket Chat</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>

<body>
    <div class="app">

        <!-- LEFT PANEL -->
        <div class="left-panel">

            <!-- CURRENT USER -->

            <div class="current-user">

                <div class="current-user-info">

                    <div class="avatar"></div>

                    <div>

                        <h4 id="currentUsername"></h4>

                        <p id="currentUserRole"></p>

                    </div>

                </div>

            </div>

            <!-- SEARCH -->

            <div class="search-box">

                <div class="search-wrapper">

                    <i class="fa-solid fa-magnifying-glass"></i>

                    <input type="text" placeholder="Search Here..." />

                </div>

            </div>

            <!-- CONTACTS -->

            <div class="contacts-list">
                
            </div>

        </div>
        <!-- LEFT PANEL ENDS -->


        <!-- CHAT PANEL -->
        <div class="chat-panel">

            <div class="chat-header">

                <div class="chat-user-info">

                    <div class="avatar small-avatar"></div>

                    <div class="activeChat">

                        <h3 id="activeChatName">
                            Select a Chat
                        </h3>


                        <p id="activeChatStatus">

                        </p>

                    </div>

                </div>

                <div class="chat-actions">

                    <button>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>

                    <button>
                        <i class="fa-regular fa-heart"></i>
                    </button>

                    <button>
                        <i class="fa-regular fa-bell"></i>
                    </button>

                </div>

            </div>

            <div class="message-container">

                <div id="messages">
                    <!-- received -->
                    <!-- sent -->
                </div>

                <p id="typingIndicator"></p>

            </div>

            <div class="message-input-area">

                <button class="icon-btn">
                    <img src="../assets/mic.png" alt="mic" />
                </button>

                <input type="text" id="messageInput" placeholder="Write Something..." />

                <div class="input-icons">

                    <input type="file" id="fileInput" multiple hidden />
                    <button class="icon-btn" onClick="document.getElementById('fileInput').click()">
                        <img src="../assets/pin.png" alt="attach" />
                    </button>

                    <button class="icon-btn">
                        <img src="../assets/camera.png" alt="camera" />
                    </button>

                    <button class="icon-btn">
                        <img src="../assets/emoji.png" alt="emoji" />
                    </button>

                </div>

                <button class="send-btn" onclick="sendMessage()">

                    <img src="../assets/send.png" alt="send" />

                </button>

            </div>

        </div>
        <!-- CHAT PANEL ENDS -->


        <!-- RIGHT PANEL -->
        <div class="right-panel">

            <!-- search -->

            <div class="search-box">

                <div class="search-wrapper">

                    <i class="fa-solid fa-magnifying-glass"></i>

                    <input type="text" placeholder="Search Here..." />

                </div>

            </div>

            <!-- PROFILE -->

            <div class="profile-section">

                <img src="./assets/profile.jpg" alt="profile" class="profile-avatar" />

                <h2 id="profile-name">----------</h2>

                <p id="profile-role">---------</p>

            </div>

            <!-- ACTION BUTTONS -->

            <div class="profile-actions">

                <div class="action-item">

                    <div class="action-circle">
                        <img src="../assets/comment.png" alt="chat" />
                    </div>
                    <span>Chat</span>
                </div>

                <div class="vertical-divider"></div>

                <div class="action-item">
                    <div class="action-circle">
                        <img src="../assets/videocall.png" alt="chat" />
                    </div>
                    <span>Video Call</span>
                </div>
            </div>

            <!-- QUICK LINKS -->

            <!-- QUICK LINKS -->

            <div class="quick-links">

                <div class="quick-link">

                    <a href="http://"><i class="fa-regular fa-user"></i>
                        <span>View Friends</span>
                    </a>

                </div>

                <div class="quick-link">

                    <a href="http://"><i class="fa-regular fa-heart"></i>

                        <span>Add to Favorites</span>
                    </a>

                </div>

            </div>

            <!-- ATTACHMENTS -->

            <div class="attachments-section">

                <h3 id="heading">Attachments</h3>

                <div class="attachments-grid">

                    <div class="attachment-card">

                        <i class="fa-solid fa-file-pdf"></i>

                        <span>PDF</span>

                    </div>

                    <div class="attachment-card">

                        <i class="fa-solid fa-film"></i>

                        <span>VIDEO</span>

                    </div>

                    <div class="attachment-card">

                        <i class="fa-solid fa-music"></i>

                        <span>MP3</span>

                    </div>

                    <div class="attachment-card">

                        <i class="fa-solid fa-image"></i>

                        <span>IMAGE</span>

                    </div>

                </div>

                <button class="view-all-btn">
                    View All
                </button>

            </div>

        </div>
        <!-- RIGHT PANEL ENDS -->

    </div>

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>

    <script>
        const token = localStorage.getItem("token");
        let lastRenderedDate = "";
        let pendingFiles = [];
        let isLoadingConversation = false;

        (async () => {

            const token =
                localStorage.getItem("token");

            const response =
                await fetch(
                    "http://localhost:3000/auth/me",
                    {
                        headers: {
                            Authorization:
                                `Bearer ${token}`
                        }
                    }
                );

            const data =
                await response.json();

            currentUser =
                data;

            document.getElementById("currentUsername").innerText = currentUser.username;
            document.getElementById("currentUserRole").innerText = currentUser.role;   

            fetchUsers();

        })();

        let activeChatUser = null;
        let typingTimeout;
        let onlineUsers = [];

        const socket = io(
            'http://localhost:3000',
            {
                auth: {
                    token
                }
            }
        );

        const fetchUsers = async () => {
            try {
                // const response = await fetch(`http://localhost:3000/conversations/${currentUser.username}`);
                const response = await fetch(
                    `http://localhost:3000/conversations/`, {
                    headers: {
                        Authorization: `Bearer ${token}`
                    }
                }
                );

                const users = await response.json();

                renderUsers(users);
            } catch (error) {
                console.log(error);
            }
        }

        const renderUsers = (users) => {

            const usersContainer =
                document.querySelector(
                    ".contacts-list"
                );

            usersContainer.innerHTML = "";

            users.forEach((user) => {

                if (
                    user.username ===
                    currentUser.username
                ) {
                    return;
                }

                const userDiv =
                    document.createElement("div");

                userDiv.classList.add(
                    "contact"
                );

                userDiv.innerHTML = `
            <div class="avatar"></div>

            <div class="contact-details">

                <div class="contact-top">

    <h4>
        ${user.username}
    </h4>

    <span class="message-time">
        ${user.lastMessageTime
                        ? new Date(
                            user.lastMessageTime
                        ).toLocaleTimeString([], {
                            hour: "2-digit",
                            minute: "2-digit"
                        })
                        : ""
                    }
    </span>

</div>

<div class="contact-bottom">

    <p class="last-message">
        ${user.lastSender === currentUser.username ? `You: ${user.lastMessage ? user.lastMessage : user.lastFileType?.startsWith("image/") ? "sent an image" : 'sent an attachment'}` : `${user.username}: ${user.lastMessage ? user.lastMessage : user.lastFileType?.startsWith("image/") ? "sent an image" : "sent an attachment"}`}
    </p>
    ${user.unreadCount > 0
                        ? `
            <div class="unread-badge">
                ${user.unreadCount}
            </div>
        `: ""
                    }

    <div class="contact-status">

        <div class="status-dot ${onlineUsers.includes(
                        user.username
                    ) ? "online" : "offline"
                    }"></div>

    </div>

</div>

            </div>
        `;

                userDiv.addEventListener(
                    "click",
                    () => {

                        document.querySelectorAll(".contact").forEach((contact) => {
                            contact.classList.remove("active");
                        });

                        activeChatUser =
                            user.username;

                        userDiv.classList.add("active");

                        document.getElementById(
                            "activeChatName"
                        ).innerText =
                            user.username;

                        if (activeChatUser) {
                            const statusdot = document.getElementById("activeChatStatus");
                            statusdot.classList.remove("online", "offline");
                            statusdot.classList.add(
                                onlineUsers.includes(
                                    activeChatUser
                                ) ?
                                    "online"
                                    : "offline"
                            );
                        }

                        document.getElementById("profile-name").innerText = user.username;
                        document.getElementById("profile-role").innerText = user.role;

                        document.getElementById(
                            "messages"
                        ).innerHTML = "";

                        socket.emit(
                            "load-conversations",
                            {
                                withUser:
                                    user.username
                            }

                        );
                        fetchUsers();
                    }
                );

                usersContainer.appendChild(
                    userDiv
                );
            });
        };

        const formatMessageTime = (dateString) => {
            return new Date(dateString)
                .toLocaleTimeString([], {
                    hour: "2-digit",
                    minute: "2-digit"
                }
                );
        };

        const formatDaySeparator = (dateString) => {
            const date = new Date(dateString);
            const today = new Date();
            const yesterday = new Date();

            yesterday.setDate(
                today.getDate() - 1
            );

            const oneWeekAgo = new Date();

            oneWeekAgo.setDate(
                today.getDate() - 7
            );

            // today
            if (
                date.toDateString() === today.toDateString()
            ) {
                return "Today";
            }

            // yesterday
            if (
                date.toDateString() === yesterday.toDateString()
            ) {
                return "Yesterday";
            }

            if (date > oneWeekAgo && date < today) {
                return date.toLocaleDateString(
                    [],
                    {
                        weekday: "long"
                    }
                );
            }

            // older
            return date.toLocaleDateString(
                [],
                {
                    day: "numeric",
                    month: "long",
                    year: "numeric"
                }
            );
        };

        const renderMessage = (data) => {
            if (!data || !data.sender) {
                return;
            }
            const messageContainer = document.querySelector(
                ".message-container"
            );
            const wasNearBottom =
                messageContainer.scrollHeight -
                messageContainer.scrollTop -
                messageContainer.clientHeight < 100;
            const isSender = data.sender === currentUser.username;

            const currentMessageDate = new Date(data.createdAt).toDateString();

            if (currentMessageDate !== lastRenderedDate) {
                lastRenderedDate = currentMessageDate;

                const separator = document.createElement("div");

                separator.classList.add(
                    "date-separator"
                );

                separator.innerText = formatDaySeparator(
                    data.createdAt
                );

                document.getElementById("messages").appendChild(separator);
            }

            const row = document.createElement("div");

            row.classList.add(
                "message-row"
            );

            row.classList.add(
                isSender ? "sent-row" : "received-row"
            );

            row.innerHTML = `

    ${!isSender
                    ? `<div class="message-avatar"></div>`
                    : ""
                }

    <div class="message-wrapper">

        ${isSender
                    ? `
                <span class="message-time">
                    ${formatMessageTime(data.createdAt)}
                </span>
            `
                    : ""
                }

        <div class="message ${isSender ? "sent" : "received"}">

            ${data.text || ""}

            ${data.fileUrl && data.fileType
                    ? data.fileType.startsWith("image/")
                        ? `
                        <img
                            src="${data.fileUrl}"
                            class="chat-image"
                        />
                    `
                        : `
                        <a
                            href="${data.fileUrl}"
                            target="_blank"
                        >
                            Download File
                        </a>
                    `
                    : ""
                }

        </div>

        ${!isSender
                    ? `
                <span class="message-time">
                    ${formatMessageTime(data.createdAt)}
                </span>
            `
                    : ""
                }

    </div>

    ${isSender
                    ? `<div class="message-avatar"></div>`
                    : ""
                }

`;

            document
                .getElementById("messages")
                .appendChild(row);

            // sender should always scroll
            if (isSender) {

                messageContainer.scrollTop =
                    messageContainer.scrollHeight;

            } else {

                // receiver scrolls only if near bottom
                if (wasNearBottom) {

                    messageContainer.scrollTop =
                        messageContainer.scrollHeight;
                }
            }
        };

        const messages =
            document.getElementById("messages");

        const messageContainer = document.querySelector(
            ".message-container"
        );

        const markMessagesAsSeen = () => {

            if (!activeChatUser) {
                return;
            }

            socket.emit(
                "load-conversations",
                {
                    withUser: activeChatUser
                }
            );
        };

        // rendering online users
        socket.on("online-users", (users) => {
            onlineUsers = users;
            if (activeChatUser) {
                const statusdot = document.getElementById("activeChatStatus");

                // clean the css 
                statusdot.classList.remove("online", "offline");

                statusdot.classList.add(
                    onlineUsers.includes(
                        activeChatUser
                    ) ? "online" : "offline"
                );
            }
            fetchUsers();
        });

        // TYPING
        socket.on(
            "user-typing",
            (data) => {

                const typingIndicator =
                    document.getElementById(
                        "typingIndicator"
                    );

                typingIndicator.innerText =
                    `${data.username} is typing...`;

                clearTimeout(
                    typingTimeout
                );

                typingTimeout =
                    setTimeout(() => {

                        typingIndicator.innerText = "";

                    }, 1000);
            }
        );

        // FRONTEND RECEIVES PRIVATE MESSAGE
        socket.on("private-message", (data) => {
            if (
                data.sender === activeChatUser ||
                data.receiver === activeChatUser
            ) {
                renderMessage(data);
                const messageContainer =
                    document.querySelector(
                        ".message-container"
                    );

                const isAtBottom =
                    messageContainer.scrollHeight -
                    messageContainer.scrollTop -
                    messageContainer.clientHeight < 80;

                if (isAtBottom) {
                    markMessagesAsSeen();
                }
            }
            // refresh sidebar
            fetchUsers();
        });

        // INPUT TYPING EVENT
        const input =
            document.getElementById(
                "messageInput"
            );

        input.addEventListener(
            "input",
            () => {

                socket.emit(
                    "typing",
                    {
                        to: activeChatUser
                    }
                );
            }
        );

        // SEND MESSAGE
        const sendMessage = async () => {

            const input =
                document.getElementById(
                    "messageInput"
                );

            const textMessage = input.value.trim();

            for (const file of pendingFiles) {
                const formData = new FormData();

                formData.append("file", file);

                const response = await fetch("http://localhost:3000/upload",
                    {
                        method: "POST",
                        body: formData
                    }
                );

                const data = await response.json();

                socket.emit("private-message",
                    {
                        to: activeChatUser,
                        fileUrl: data.fileUrl,
                        fileType: data.fileType,
                    }
                );
            }

            if (textMessage) {
                socket.emit("private-message",
                    {
                        to: activeChatUser,
                        message: textMessage
                    }
                );
            }
            pendingFiles = [];
            input.value = "";
        };

        // FRONTEND RECEIVES HISTORY
        socket.on("conversation-history", (messages) => {
            isLoadingConversation = true;
            const messagesContainer = document.getElementById("messages");
            messagesContainer.innerHTML = "";

            messages.forEach((msg) => {
                renderHistoryMessage(msg);
            });

            requestAnimationFrame(() => {
                messageContainer.scrollTop =
                    messageContainer.scrollHeight;

                isLoadingConversation = false;
            });
        });

        const renderHistoryMessage = (data) => {
            const isSender = data.sender === currentUser.username;

            const currentMessageDate =
                new Date(data.createdAt)
                    .toDateString();

            if (
                currentMessageDate !==
                lastRenderedDate
            ) {

                lastRenderedDate =
                    currentMessageDate;

                const separator =
                    document.createElement("div");

                separator.classList.add(
                    "date-separator"
                );

                separator.innerText =
                    formatDaySeparator(
                        data.createdAt
                    );

                document
                    .getElementById("messages")
                    .appendChild(separator);
            }

            const row = document.createElement("div");

            row.classList.add(
                "message-row"
            );

            row.classList.add(
                isSender ? "sent-row" : "received-row"
            );

            row.innerHTML = `

    ${!isSender
                    ? `<div class="message-avatar"></div>`
                    : ""
                }

    <div class="message-wrapper">

        ${isSender
                    ? `
                <span class="message-time">
                    ${formatMessageTime(data.createdAt)}
                </span>
            `
                    : ""
                }

        <div class="message ${isSender ? "sent" : "received"}">

            ${data.text || ""}

            ${data.fileUrl && data.fileType
                    ? data.fileType.startsWith("image/")
                        ? `
                        <img
                            src="${data.fileUrl}"
                            class="chat-image"
                        />
                    `
                        : `
                        <a
                            href="${data.fileUrl}"
                            target="_blank"
                        >
                            Download File
                        </a>
                    `
                    : ""
                }

        </div>

        ${!isSender
                    ? `
                <span class="message-time">
                    ${formatMessageTime(data.createdAt)}
                </span>
            `
                    : ""
                }

    </div>

    ${isSender
                    ? `<div class="message-avatar"></div>`
                    : ""
                }

`;

            document
                .getElementById("messages")
                .appendChild(row);
        };

        socket.on("message-seen", () => {
            fetchUsers();
        });

        const fileInput = document.getElementById(
            "fileInput"
        );

        fileInput.addEventListener(
            "change", () => {
                const files = Array.from(fileInput.files);

                pendingFiles.push(...files);
                console.log(
                    "Pending Files",
                    pendingFiles
                );
                fileInput.value = "";
            }
        );
    </script>
</body>

</html>