<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <input type="email" id="email">
    <input type="text" id="password">
    <button onClick="login()" id="login">Login</button>
    <script>
        async function login() {
            const response = await fetch("http://localhost:3000/auth/login",
                {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        email: document.getElementById("email").value,

                        password: document.getElementById("password").value
                    })
                }
            );

            const data = await response.json();

            localStorage.setItem(
                "token",
                data.token
            );

            window.location.href = "client.html";
        }
    </script>
</body>

</html>